.navbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-width: 350px;
    text-align: right;
    background-image: url("images/navbarBG.png");
    z-index: 99;
        
}

.icon {
    height: 20px;
    width: 20px;
        
}

.head{
    color: lightgray;
    min-width: 580px;
    max-width: 1024px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 100px;
    top: 0;
    right: 0;
    text-align: justify;
    text-shadow: 0px 0px 10px black;
    font-size: 16px;

}

img{
    width: auto;
    height: auto;
    min-width: 250px;
    max-width: 2560px;
    margin: 15px;
    position: center;

}

.iframe{
    padding: 10px;
    margin: 10px;

}

.column {
    float: left;
    width: 45%;
    margin: 20px;  
    column-gap: 40px;
    background-color: black;
    opacity: 75%;

}
  
.column1 {
    float: left;
    width: 24%;
    opacity: 75%;

}

.column2 {
    float: right;
    width: 74%;
    opacity: 75%;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1{
    color: black;
    opacity: 65%;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0px 1px 4px white;
    text-align: center;
    margin: auto;
    background-color: darkslategrey;
    border-block-start-style: outset;
    border-block-end-style: inset;    

}

h2{
    color: white;
    font-size: 40px;
    text-emphasis: bold;
    text-align: center;
    text-shadow: 0px 0px 16px black;
    width: auto;
    border-block-start-style: outset;
    border-block-end-style: inset;  
        
}

h3{
    font-size: 25px;
    font-family: fantasy 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 91, 31);
    text-emphasis: bold;
    text-align: center;
    text-shadow: 0px 0px 10px black;

}

h4{
    font-size: 20px;
    font-family: Verdana;
    color: black;
    text-align: center;
    text-shadow: 0px 0px 10px red;
    width: auto;
    height: 16px;
    background-position: center;
    margin: 15px;

}

h5{
    color: black;
    font-size: 1px;
    font-family: fantasy 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: orangered;
    height: 1px;
    margin-bottom: 5px:

}

body{
    float: middle;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

    margin: 50px;

    width: 100%;
    min-width: 500px;
    max-width: 1024px;

    background-color: black;
    background-image: url("imgs/edbg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
            
}

.container{
    max-width: 2560px;
    text-align: center;
    grid-auto-columns: 1;
    column-gap: 20px;

}

.rules{
    position: center;
    text-align: center;
    background-color: black;
    opacity: 75%;
}

.widget{
    width: auto;
    float: left;
    position: left bottom;
    top: 0;
    left: 0;
    margin: 25px;
}

.sigs{
    float: left;
    margin: 20px;
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    text-shadow: 0px 0px 3px black;

}
    
footer{
    position: bottom relative;
    width: 100%;
    min-width: 350px;
    max-width: 1920px;
    bottom: 0;
    right: 0;
    text-align: right;
    background-image: url("images/navbarBG.png");
    
}

.link{
    color: orange;
    font-size 20px;
    padding: 10px;
    text-shadow: 0px 0px 10px black;
    
}

.link:hover{
    color: red;
    text-decoration: underline overline red;
    text-shadow: 0px 0px 20px orange;
        
}

.link:active{
    color: black;
    background-color: grey;
    transition-delay: 15ms;

}
