img{
    width: auto;
    width: 100%;
    min-width: 500px;
    max-width: 900px;
    margin: 15px;

}

.navbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-width: 580px;
    max-width: 1920px;
    text-align: right;
    background-color:black;
        
}

.icon {
    height: 20px;
    width: 20px;
        
}

.head{
    color: lightgray;
    min-width: 580px;
    max-width: 1920px;
    position: left;
    top: 25px;
    right: 0;
    text-align: justify;
    text-shadow: 0px 0px 10px black;

}

h1{
    color: black;
    font-size: 60px;
    text-shadow: 0px 0px 18px whitesmoke;
    text-emphasis: bold;
    text-align: center;
    background-image: url("imgs/borderTOP.png");
    margin: auto;

}

h2{
    color: black;
    font-size: 40px;
    text-emphasis: bold;
    text-align: center;
    text-shadow: 0px 0px 16px whitesmoke;
    background-image: url("imgs/borderTOP.png");
    width: auto;
        
}

h3{
    font-size: 20px;
    color: orangered;
    text-emphasis: bold;
    text-align: justify;
    text-shadow: 0px 0px 10px black;

}

h4{
    font-size: 20px;
    color: orangered;
    text-align: center;
    text-shadow; 0px 0px 10px black
}

iframe{
    margin: 6px;
}

body{
    width: auto;
    min-width: 500px;
    max-width: 1800;
    float:left;
    position: center;
    color: lightgray;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-shadow: 0px 0px 10px black;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
    margin-right: 100px;

    background-color: black;
    background-image: url("imgs/BGbeards.png");
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    
}

.container{
    width: 100%;
    text-align: center;
    grid-auto-columns: 1;
    column-gap: 10px

}

.widget{
    float: right;
    position: right;
    top: 0;
    right:0;
    margin: 10px;
    margin-left: 45px;
}

.sigs{
    position: center;
    float: center;
    margin: 10px;
    font-family: monospace;
    font-size: 20px;

}
    
footer{
    position: fixed;
    width: 100%;
    min-width: 350px;
    max-width: 1920px;
    bottom: 0;
    right: 0;
    text-align: right;
    background-color: black;
    
}

.link{
    color: orangered;
    font-size 20px;
    padding: 10px;
    text-shadow: 0px 0px 10px black;
    
}

.link:hover{
    color: red;
    text-decoration: underline overline red;
    text-shadow: 0px 0px 20px orange;
    .img:hover{
        color:red;
    }
    
}

.link:active{
    background-color: grey;
    
}
